{% extends "main.html" %}
{% block content %}



<div class = 'flash'>
              {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success"> <strong> {{ message }} </strong> </div>
        {% endfor %}
        {% endif %}
    {% endwith %}

</div>
<div class="row">
    <div class="col-md-4">

        <div class="row">
        <center><h2><kbd>Categories:</kbd></br></h2></center>
            {% for cat in catalog %}
                <div class="col-md-2"></div>
                <div class="col-md-10 item-list">

                    <h3><a href="{{url_for('showItems', name = cat.name)}}">{{cat.name}}</a></h3>
                </div>

            {% endfor %}

        </div>
    </div>

    <div class="col-md-8">
    <br>
        <center><kbd>Latest Items:</kbd></br></center>
        <div class="row">

        {% for item in items %}
        <div class="col-md-2">

        </div>
        <div class="col-md-10 item-list">

            <p><b>{{item.title}}</b>({{item.catalog.name}})</p>
        </div>

    {% endfor %}
        </div>
    </div>
</div>


{% endblock %}